In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
##OPTIMIZATION TEST #1: Don't drop any columns: DID NOT WORK
#OPTIMIZATION TEST #6: ONLY DROP EIN<---63 accuracy! see attempt #10
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN'], inplace=True)

In [3]:
# #Optimization TEST #2: Remove more than two columns: DID NOT WORK
# application_df.drop(columns=['AFFILIATION', 'ORGANIZATION', 'USE_CASE'], inplace=True)

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
#OPTIMIZATION TEST #7: Change cut off to 500--did not work
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
#OPTIMIZATION TEST #8: CHANGE CLASSIFICATION COUNTS TO <500 <---did not work, changing it back to 100
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [11]:
# Choose a cutoff value and create a list of names to be replaced
names_to_replace = list(name_counts[name_counts < 100].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [12]:
#scratch work
application_df.dtypes

NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [14]:
# Split our preprocessed data into our features and target arrays
X = dummies.drop(columns=['IS_SUCCESSFUL'])
y = dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
#OPTIMIZATION TEST #4: Reduced the hidden nodes<--Increased..progress!
#OPTIMIZATION TEST #5: Added another layer<--did not work
#OPTIMIZATION TEST #9: change the nodes back to the original number
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dim = X_train_scaled.shape[1]
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(21, input_dim=input_dim, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(14, activation='relu'))

# # Third hidden layer
# nn.add(tf.keras.layers.Dense(7, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 21)                411852

 dense_1 (Dense)             (None, 14)                308

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 412,175
Trainable params: 412,175
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [18]:
##OPTIMIZATION TEST #3: Increase the epochs to 200<--Made it .002 more accurate
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=30)

Epoch 1/30
804/804 [==============================] - 9s 9ms/step - loss: 0.4983 - accuracy: 0.7595
Epoch 2/30
804/804 [==============================] - 8s 10ms/step - loss: 0.1731 - accuracy: 0.9328
Epoch 3/30
804/804 [==============================] - 7s 9ms/step - loss: 0.1075 - accuracy: 0.9571
Epoch 4/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0975 - accuracy: 0.9609
Epoch 5/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0946 - accuracy: 0.9615
Epoch 6/30
804/804 [==============================] - 7s 9ms/step - loss: 0.0933 - accuracy: 0.9617
Epoch 7/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0916 - accuracy: 0.9618
Epoch 8/30
804/804 [==============================] - 8s 9ms/step - loss: 0.0911 - accuracy: 0.9623
Epoch 9/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0902 - accuracy: 0.9623
Epoch 10/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0896 - accuracy: 0.9625
Epoch 11/30
804/804 [==============================] - 7s 9ms/step - loss: 0.0885 - accuracy: 0.9630
Epoch 12/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0878 - accuracy: 0.9629
Epoch 13/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0875 - accuracy: 0.9642
Epoch 14/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0873 - accuracy: 0.9637
Epoch 15/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0870 - accuracy: 0.9636
Epoch 16/30
804/804 [==============================] - 7s 9ms/step - loss: 0.0859 - accuracy: 0.9642
Epoch 17/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0859 - accuracy: 0.9642
Epoch 18/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0858 - accuracy: 0.9634
Epoch 19/30
804/804 [==============================] - 7s 9ms/step - loss: 0.0852 - accuracy: 0.9647
Epoch 20/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0851 - accuracy: 0.9638
Epoch 21/30
804/804 [==============================] - 7s 9ms/step - loss: 0.0846 - accuracy: 0.9648
Epoch 22/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0850 - accuracy: 0.9652
Epoch 23/30
804/804 [==============================] - 8s 11ms/step - loss: 0.0843 - accuracy: 0.9652
Epoch 24/30
804/804 [==============================] - 7s 9ms/step - loss: 0.0842 - accuracy: 0.9656
Epoch 25/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0835 - accuracy: 0.9651
Epoch 26/30
804/804 [==============================] - 7s 9ms/step - loss: 0.0834 - accuracy: 0.9660
Epoch 27/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0830 - accuracy: 0.9654
Epoch 28/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0828 - accuracy: 0.9663
Epoch 29/30
804/804 [==============================] - 7s 9ms/step - loss: 0.0825 - accuracy: 0.9662
Epoch 30/30
804/804 [==============================] - 8s 10ms/step - loss: 0.0818 - accuracy: 0.9659

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.7594 - accuracy: 0.5791 - 843ms/epoch - 3ms/step
Loss: 0.7593742609024048, Accuracy: 0.5791253447532654

In [20]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

In [21]:
#Optimization Test #10: only drop EIN, classification counts <1000, add NAME for binning, epchs =30, remove validation_split, increase hidden nodes & remove third hidden layer