## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
# Calculate the total count
# Calculate value counts for APPLICATION_TYPE
counts = application_df['APPLICATION_TYPE'].value_counts()

# Calculate the total count
total_count = counts.sum()

# Calculate the 95% threshold
threshold_95 = 0.95 * total_count

# Sort the value counts in descending order
sorted_counts = sorted(counts.items(), key=lambda x: x[1], reverse=True)

# Calculate cumulative counts and find the threshold point
cumulative_count = 0
categories_to_keep = []
for category, count in counts.items():
    cumulative_count += count
    categories_to_keep.append(category)
    if cumulative_count >= threshold_95:
        break

# Print the result
print("Categories to Keep:")
for category in categories_to_keep:
    print(category)

Categories to Keep:
T3
T4
T6
T5
T19
T8

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Create a list of application types to be replaced
application_types_to_replace = list(set(counts.index) - set(categories_to_keep))

# Replace in the dataframe
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].apply(lambda x: x if x in categories_to_keep else "Other")

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
Other     1529
T6        1216
T5        1173
T19       1065
T8         737
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
# Calculate the total count
# Calculate value counts for CLASSIFICATION
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Calculate the total count
total_count = classification_counts.sum()

# Calculate the 95% threshold
threshold_95 = 0.95 * total_count

# Sort the value counts in descending order
sorted_counts = sorted(classification_counts.items(), key=lambda x: x[1], reverse=True)

# Calculate cumulative counts and find the threshold point
cumulative_count = 0
categories_to_keep = []
for category, count in classification_counts.items():
    cumulative_count += count
    categories_to_keep.append(category)
    if cumulative_count >= threshold_95:
        break

# Print the result
print("Categories to Keep:")
for category in categories_to_keep:
    print(category)

Categories to Keep:
C1000
C2000
C1200
C3000
C2100
C7000

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(set(counts.index) - set(categories_to_keep))

# Replace in the dataframe
application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].apply(lambda x: x if x in categories_to_keep else "Other")

# Check to make sure binning was successful
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [9]:
#scratch work
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [10]:
# Convert categorical data to numeric with pd.get_dummies
categorical_columns = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']
dummies = pd.get_dummies(application_df[categorical_columns])

# Drop the original categorical columns
application_df = application_df.drop(columns=categorical_columns)

# Concatenate dummy variables with the original DataFrame
merged_df = pd.concat([application_df, dummies], axis=1)

# Display the merged DataFrame
merged_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = merged_df.drop('IS_SUCCESSFUL', axis=1).values
y = merged_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [13]:
# Select continuous columns to scale
continuous_columns = ['STATUS', 'ASK_AMT']

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler on the training data
scaler.fit(X_train[:, [merged_df.columns.get_loc(col) for col in continuous_columns]])

# Scale the continuous features in the dataset
X_train_scaled = X_train.copy()
X_test_scaled = X_test.copy()

X_train_scaled[:, [merged_df.columns.get_loc(col) for col in continuous_columns]] = scaler.transform(X_train[:, [merged_df.columns.get_loc(col) for col in continuous_columns]])
X_test_scaled[:, [merged_df.columns.get_loc(col) for col in continuous_columns]] = scaler.transform(X_test[:, [merged_df.columns.get_loc(col) for col in continuous_columns]])

# Now you have X_train_scaled, X_test_scaled, y_train, and y_test with scaled continuous features

## Compile, Train and Evaluate the Model

In [14]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dim = X_train_scaled.shape[1]
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(21, activation='relu', input_dim=input_dim))

# Second hidden layer
nn.add(Dense(14, activation='relu'))

# Output layer
nn.add(Dense(1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 21)                903

 dense_1 (Dense)             (None, 14)                308

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 1,226
Trainable params: 1,226
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [16]:
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=50, validation_split=0.2)

Epoch 1/50
644/644 [==============================] - 3s 3ms/step - loss: 0.5940 - accuracy: 0.7079 - val_loss: 0.5570 - val_accuracy: 0.7339
Epoch 2/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5645 - accuracy: 0.7227 - val_loss: 0.5507 - val_accuracy: 0.7368
Epoch 3/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5579 - accuracy: 0.7237 - val_loss: 0.5512 - val_accuracy: 0.7355
Epoch 4/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7265 - val_loss: 0.5463 - val_accuracy: 0.7347
Epoch 5/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7273 - val_loss: 0.5467 - val_accuracy: 0.7353
Epoch 6/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5511 - accuracy: 0.7276 - val_loss: 0.5521 - val_accuracy: 0.7337
Epoch 7/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7279 - val_loss: 0.5501 - val_accuracy: 0.7296
Epoch 8/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7283 - val_loss: 0.5468 - val_accuracy: 0.7355
Epoch 9/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7288 - val_loss: 0.5499 - val_accuracy: 0.7324
Epoch 10/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7302 - val_loss: 0.5505 - val_accuracy: 0.7341
Epoch 11/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5487 - accuracy: 0.7302 - val_loss: 0.5453 - val_accuracy: 0.7337
Epoch 12/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7275 - val_loss: 0.5498 - val_accuracy: 0.7331
Epoch 13/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7299 - val_loss: 0.5494 - val_accuracy: 0.7333
Epoch 14/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7289 - val_loss: 0.5490 - val_accuracy: 0.7289
Epoch 15/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5476 - accuracy: 0.7288 - val_loss: 0.5489 - val_accuracy: 0.7322
Epoch 16/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7304 - val_loss: 0.5442 - val_accuracy: 0.7349
Epoch 17/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7300 - val_loss: 0.5453 - val_accuracy: 0.7341
Epoch 18/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7300 - val_loss: 0.5452 - val_accuracy: 0.7361
Epoch 19/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7319 - val_loss: 0.5478 - val_accuracy: 0.7293
Epoch 20/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7315 - val_loss: 0.5446 - val_accuracy: 0.7353
Epoch 21/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7322 - val_loss: 0.5481 - val_accuracy: 0.7353
Epoch 22/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7314 - val_loss: 0.5478 - val_accuracy: 0.7293
Epoch 23/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7340 - val_loss: 0.5444 - val_accuracy: 0.7357
Epoch 24/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7319 - val_loss: 0.5464 - val_accuracy: 0.7359
Epoch 25/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7334 - val_loss: 0.5431 - val_accuracy: 0.7359
Epoch 26/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7317 - val_loss: 0.5460 - val_accuracy: 0.7362
Epoch 27/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7336 - val_loss: 0.5460 - val_accuracy: 0.7333
Epoch 28/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7318 - val_loss: 0.5485 - val_accuracy: 0.7316
Epoch 29/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7310 - val_loss: 0.5441 - val_accuracy: 0.7361
Epoch 30/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7311 - val_loss: 0.5444 - val_accuracy: 0.7329
Epoch 31/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7335 - val_loss: 0.5443 - val_accuracy: 0.7347
Epoch 32/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7320 - val_loss: 0.5474 - val_accuracy: 0.7351
Epoch 33/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7335 - val_loss: 0.5460 - val_accuracy: 0.7322
Epoch 34/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7331 - val_loss: 0.5454 - val_accuracy: 0.7306
Epoch 35/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7332 - val_loss: 0.5454 - val_accuracy: 0.7331
Epoch 36/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7325 - val_loss: 0.5455 - val_accuracy: 0.7357
Epoch 37/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7331 - val_loss: 0.5464 - val_accuracy: 0.7335
Epoch 38/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7315 - val_loss: 0.5503 - val_accuracy: 0.7300
Epoch 39/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7335 - val_loss: 0.5451 - val_accuracy: 0.7312
Epoch 40/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7322 - val_loss: 0.5431 - val_accuracy: 0.7362
Epoch 41/50
644/644 [==============================] - 3s 5ms/step - loss: 0.5426 - accuracy: 0.7335 - val_loss: 0.5452 - val_accuracy: 0.7343
Epoch 42/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7336 - val_loss: 0.5441 - val_accuracy: 0.7357
Epoch 43/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7319 - val_loss: 0.5467 - val_accuracy: 0.7355
Epoch 44/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7340 - val_loss: 0.5445 - val_accuracy: 0.7314
Epoch 45/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7324 - val_loss: 0.5440 - val_accuracy: 0.7355
Epoch 46/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7337 - val_loss: 0.5473 - val_accuracy: 0.7345
Epoch 47/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7328 - val_loss: 0.5450 - val_accuracy: 0.7351
Epoch 48/50
644/644 [==============================] - 2s 4ms/step - loss: 0.5416 - accuracy: 0.7325 - val_loss: 0.5462 - val_accuracy: 0.7347
Epoch 49/50
644/644 [==============================] - 3s 5ms/step - loss: 0.5414 - accuracy: 0.7359 - val_loss: 0.5444 - val_accuracy: 0.7302
Epoch 50/50
644/644 [==============================] - 3s 5ms/step - loss: 0.5417 - accuracy: 0.7339 - val_loss: 0.5449 - val_accuracy: 0.7302

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5531 - accuracy: 0.7243 - 768ms/epoch - 3ms/step
Loss: 0.5531407594680786, Accuracy: 0.7243148684501648

In [19]:
from google.colab import drive
drive.mount('/content/drive')

# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

Mounted at /content/drive